input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #0d1117 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
  color: #8b949e;
  opacity: 1;
}